/* Pizza Menu Page style */

.container 
{
	max-width: 25%;
	height: 440px;
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	border:solid 1px grey;
	display: inline-block;
	font-size: 14px;
	overflow: hidden;
}

.product
{
	width: 70%;
}

img
{
	width: 200px;
	height: 140px;
}
	
.btn, .remove-button
{
	background: #2980B9 ;   
	border:none;
	height:35px;
	color:#ffffff;
	width:100%;
	border-radius: 1px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	display:block;
	text-decoration: none;
	font-size: 18px;
	padding: 5px;
}
	
.btn:hover
{
	height:35px;
	color:#FD5765;
	background:black;
	width:100%;
	border-radius:2px;
}
	
.cart
{
	display: block;
}
	
td
{
	padding: 0 15px;
}

.product-desc
{
	display: block;
	padding: 5px;
	block-size: 95px;
	font-family: sans-serif;
	color: #2C3E50;
}

.product-name
{
	display:block;
	block-size: 55px;
}

.product-qty{
	height: 25px;
}

.remove-button, .checkout-button, .clear-button 
{
	background: red;   
	border:none;
	height:20px;
	font-size: 14px;
	padding: 2px;
}
	
.checkout-button, .clear-button
{
	background: orange;
	text-decoration: none;
	font-size: 22px;
	color: #ffffff;
}
	
.clear-button
{
	background: red;
}

button a
{
	text-decoration: none;
}

onclick
{
	cursor: pointer;
}
